.fork-me-ribbon {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
}

.page-header {
    float:left;
    position:fixed;
}

.container {
    padding-top: 30px;
}

h2 {
    padding-top: 42px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 9px;
}

pre {
    margin-top: 15px;
}

address {
    margin-bottom: 0;
}

.paragraph-list li {
    margin-bottom: 9px;
}

.alert-heading {
    margin-bottom: 9px;
}

.image-container {
    text-align: center;
}

.image-container img {
}
