[submodule "common"]
	path = common
	url = git@github.com:kononencheg/Tuna-Common.git
[submodule "templates"]
	path = templates
	url = git@github.com:kononencheg/Tuna-Templates.git
[submodule "mvc"]
	path = mvc
	url = git@github.com:kononencheg/Tuna-MVC.git
[submodule "ui-modules"]
	path = ui-modules
	url = git@github.com:kononencheg/Tuna-UI-Modules.git
