.container {
    padding-top: 30px;
}

.page-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

h3, h4 {
    padding-top: 12px;
    padding-bottom: 12px;
}

h2 {
    padding-top: 30px;
    padding-bottom: 15px;

    margin-bottom: 15px;

    border-bottom: 1px solid #eeeeee;
}

pre {
    margin-top: 15px;
}

.paragraph-list li {
    margin-bottom: 12px;
}

.alert-heading {
    margin-bottom: 12px;
}