<p>
    Tuna Common является основой для остальных компонентов библиотеки
    Tuna Framework. Основными преимуществами такой основы являются:
</p>

<ol class="paragraph-list">
    <li>
        <strong>Удобство</strong> - для реализации выбран максимально полезный
        в ежедневной разработке функционал.
    </li>
    <li>
        <strong>Простота</strong> - "обернуты" только отличающиеся и часто
        используемые функции API браузеров.
    </li>
</ol>

