<!DOCTYPE html>
<html xmlns:tuna="http://localhost/">
	<head>
		<meta charset="UTF-8" />
		<title>TUNA TEMPLATES</title>
		<style type="text/css">
			.hidden, 
			.tuna-templates {
				display: none;
			}
		</style>
	</head>

	<body>
	
		<div class="tuna-templates">
		
			<div class="tuna-renderers">
				
				<table>
					<tbody>
						<tr id="users_list_item_renderer">
							<td> <span id="users_list_item_renderer:user_id"></span>	</td>
							<td> <span id="users_list_item_renderer:first_name"></span> </td>
							<td> <span id="users_list_item_renderer:last_name"></span> </td>
						</tr>
					</tbody>
				</table>
				
			</div>
		
			<!--
				Узел:
				
				tuna:template Объявление шаблона ленивого преобразования 
							  данных.		  	
							  
					Аттрибуты:
					
				   [tuna:name]	 Имя шаблона.
				   [tuna:common] Флаг о том, что данный шаблон может быть 
				   				 составной частью других шаблонов.
			-->
			<tuna:template tuna:name="UsersTable">

				<!-- 
					Узел:
				
					tuna:spot Объявление узла вывода данных. Данные будут
							  выводиться в узел полность заменяяя его 
							  содержимое.
				
						Аттрибуты:
					
						tuna:target	Идентификатор узла вывода данных.
						tuna:path 	Путь в исходном наборе данных.
				-->
				<tuna:spot tuna:target="count" 			
						   tuna:path="users.length" />
						   
				<tuna:spot tuna:target="first_user_name"
					   	   tuna:path="users.0.firstName" />
					   	   
				<!-- 
					Узел:
				
					tuna:list Объявление списка узлов вывода данных хранящихся в 
							  массиве. Для отрисовки списка должен существовать 
							  узел-шаблон, содержащий информацию о разметке 
							  каждого элемента. 
							
							  Идентификаторы элементов списка устанваливаются 
							  соответсвенно значениям ключевых свойств каждого 
							  элемента списка, либо индексами в массиве, если 
							  имя ключегового элемента не установленно.
				
						Аттрибуты:
					
						tuna:target Идентификатор узла вывода данных.
						tuna:path 	Путь в исходном наборе данных.
					   [tuna:key]	Имя ключевого свойства в элемента данных.
				-->
				<tuna:list tuna:target="users_list" 
						   tuna:path="users" 
				 		   tuna:key="id">
					
					<!--
						Узел:
						
						tuna:renderer Объявление шаблона отрисовки элемента 
									  списка. Может ссылаться на внешний узел 
									  отрисовщика, например, для общих 
									  отрисовщиков.
									  
							tuna:target	   Идентификатор узла отрисовки элемента 
										   списка.
						   [tuna:template] Имя внешнего шаблона, который следует 
						   				   использовать в качетсве отрисовщика.
					 -->
					<tuna:renderer tuna:target="users_list_item_renderer"
								   tuna:template="UserR">
						<!-- 
						
						<tuna:spot tuna:target="user_id" 
								   tuna:path="id" />
					
						<tuna:spot tuna:target="first_name" 
								   tuna:path="firstName" />
							
						<tuna:spot tuna:target="last_name" 
								   tuna:path="lastName" />
							
						-->
					</tuna:renderer>
					
				</tuna:list>
							   			
			</tuna:template>
			
			<tuna:template tuna:common tuna:name="UserRow">
			
				<tuna:spot tuna:target="user_id" tuna:path="id" />
				
				<tuna:spot tuna:target="first_name" tuna:path="firstName" />
				
				<tuna:spot tuna:target="last_name" tuna:path="lastName" />
				
			</tuna:template>
			
			<tuna:template tuna:name="UserInfo">
				<tuna:spot tuna:target="id" tuna:path="id" />
				<tuna:spot tuna:target="first_name" tuna:path="firstName" />
				<tuna:spot tuna:target="last_name" tuna:path="lastName" />
			</tuna:template>
		</div>
	
		<div id="user_info">
			<p> ID: <span id="user_id"></span> </p>
			<p> FIRST NAME: <span id="first_name"></span> </p>
			<p> LAST NAME: <span id="last_name"></span> </p>			
		</div>
	
		<div id="other_user_info">
			<p> ID: <span id="other_user_info:user_id"></span> </p>
			<p> FIRST NAME: <span id="other_user_info:first_name"></span> </p>
			<p> LAST NAME: <span id="other_user_info:last_name"></span> </p>			
		</div>
		
		<div id="users_table" class="hidden">

			<p> Число пользователей: <span id="users_table:users_count"></span> </p>
			<p> Имя пользователя: <span id="users_table:first_user_name"></span> </p>
			
			<table>
				<thead>
					<tr> <th>№</th><th>First Name</th><th>Last Name</th> </tr>
				</thead>

				<tbody id="users_table:users_list">
					<tr id="users_table:users_list:1">
						<td>
						   <span id="users_table:users_list:1:user_id">1</span>
						</td>
						<td>
							<span id="users_table:users_list:1:first_name">Sergey</span>
						</td>
						<td>
							<span id="users_table:users_list:1:last_name">Kononenko</span>
						</td>
					</tr>
					<tr id="users_list:2">
						<td>
							<span id="users_list:2.user_id">2</span>
						</td>
						<td>
							<span id="users_list:2.first_name">Marina</span>
						</td>
						<td>
							<span id="users_list:2.last_name">Teodori</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
<!--

<script type="text/javascript" src="../../js/tuna.js"></script>

<script type="text/javascript"> tuna.JS_ROOT = '../../js'; </script>

<script type="text/javascript" src="../../js/tuna/debug/Logger.js"></script>
<script type="text/javascript" src="../../js/tuna/tmpl/Spot.js"></script>
<script type="text/javascript" src="../../js/tuna/tmpl/Domain.js"></script>

<script type="text/javascript" src="main.js"></script>

-->
		
		<script type="text/javascript" src="main-compiled.js"></script>
	</body>
</html>
