<p>
    Тесты для сравнения скорости:
</p>

<ul class="paragraph-list">
    <li>
        <a href="http://jsperf.com/tuna-templates-vs-inner-html" target="_blank">Tuna Templates VS Inner HTML</a>
        - сравнение скорости шаблонизатора со вставкой строки контента.
    </li>
    <li>
        <a href="http://jsperf.com/tuna-templates-vs-mustache-vs-pure-vs-underscore" target="_blank">Tuna Templates VS Mustache VS Pure VS Underscore</a>
        - сравнение скоростей популярных шаблонизаторов.
    </li>
</ul>