
<p>
    Tuna Tempaltes является частью библиотеки Tuna Framework, и предоставляет
    широкий функционал для отображения данных в браузере. Его основными плюсами
    являются:
</p>

<ol class="paragraph-list">
    <li>
        <strong>Скорость</strong> - Tuna Templates работает очень быстро, так
        как обновляeтся отображение только изменившихся данных.
    </li>
    <li>
        <strong>Сохранность DOM-дерева</strong> - при отображении данных ссылки
        на DOM-элементы и слушатели событий сохраняются.
    </li>
    <li>
        <strong>Независимоcть</strong> - для работы шаблонизатору требуется
        только <a href="#comnon.html">Tuna Common</a>.
    </li>
</ol>