{% import "macro/common.twig" as common %}

<p>
    Для описания пути выбора данных в исходном наборе используется специальный
    язык запросов, он похож на сильно упрощенный
    <a href="http://www.w3.org/TR/xpath/" target="_blank">XPath</a>.
</p>

<p>
    Запрос выбора данных (<em>путь</em>) представляет собой последовательность
    <em>шагов адресации</em> разделенных косой чертой. Например:
</p>

<pre><code>/users/0/name/length</code></pre>

<p>
    Запрос выбора данных (<em>путь</em>) представляет собой последовательность
    <em>шагов адресации</em> разделенных косой чертой. Например:
</p>
