{% import "macro/common.twig" as common %}

<p>
    Для описания пути выбора данных в исходном наборе используется специальный
    язык запросов, он похож на сильно упрощенный
    <a href="http://www.w3.org/TR/xpath/" target="_blank">XPath</a>.
</p>

<p>
    Запрос выбора данных (<em>путь</em>) представляет собой последовательность
    <em>шагов адресации</em> разделенных косой чертой. Например:
</p>

<pre><code>users/0/name/length</code></pre>

<p>
    Данный запрос выберет количество символов в имени первого пользователя в
    массиве.
</p>

<p>
    Путь может быть как абсолютный так и относительный. Например, чтобы отобразить
    в элементе списка получить общее число пользователей, можно использовать
    абсолютный путь:
</p>

<pre><code>/users/length</code></pre>

<p>
    Основным типом шага адресации является ключ элемента данных в текущем
    контексте. Кроме ключа элемента существуют следующие шаги:
</p>

<ul class="paragraph-list">
    <li>
        <code>"$key"</code> - имя текущего ключа элемента данных. Данный шаг
        полезен при получении ключа элемента в списке.
    </li>
    <li>
        <code>".."</code> - возвращение к предыдущему контексту. Например, чтобы
        получить ключ предыдущего контекста можно использовать следующий путь: <code>"../$key"</code>.
    </li>
    <li>
        <code>"."</code> - взятие значения текущего контекста.
    </li>
</ul>
