<p>
    Tuna MVC является реализацией парадигмы MVC, прекрасно подходящей для
    комплексных web-приложений. Основными преимуществами реализации Tuna MVC
    являются:
</p>

<ol class="paragraph-list">
    <li>
        <strong>Удобство</strong> - логика отображения описывается спиком
        используемых модулей.
    </li>
</ol>

