<p>
    Tuna MVC является реализацией парадигмы MVC, прекрасно подходящей для
    комплексных web-приложений. Основными преимуществами реализации Tuna MVC
    являются:
</p>

<ol class="paragraph-list">
    <li>
        <strong>Гибкость</strong> - можно использовать лишь то, что необходимо:
        любое приложение может обойтись без каждой из составляющих MVC.
    </li>
    <li>
        <strong>Простота</strong> - для написания простейшего приложения
        требуется лишь указать список используемых на странице
        модулей-компонентов.
    </li>
    <li>
        <strong>Удобство</strong> - компоненты отоборажения описываются в HTML
        разметке приложения. Создание собственных компонентов на основе
        <a href="http://jqueryui.com/" target="_blank">jQuery UI</a>
        занимает меньше минуты!
    </li>
    <li>
        <strong>Расширяемость</strong> - приложение созданное на основе Tuna MVC
        легко расширяется и устойчиво к большому количеству функционала.
    </li>
</ol>
