<p>
    Основной частью большинства web-приложений является отображение.
    В общем виде приложение состоит из дерева контейнеров с отображением.
</p>

<p class="image-container">
    <img src="img/common_page.png" alt="Рисунок 1" />
    <br />
    <small>
        Рисунок 1. Дерево контейнеров отображения.
    </small>
</p>

<p>
    Каждый контейнер содержит различные компоненты отображения, такие как
    кнопки, фор- мы, списики выбора, и тд.
</p>

<p class="image-container">
    <img src="img/module_container.png" alt="Рисунок 2" />
    <br />
    <small>
        Рисунок 2. Пример контейнера.
    </small>
</p>

<p>
    Для организации данной структуры служат следующие классы:
</p>

<ul class="paragraph-list">
    <li><a href="doc/tuna.ui.Widget.html">Widget</a> - Базовый класс виджета.</li>
    <li><a href="doc/tuna.ui.WidgetContainer.html">WidgetContainer</a> - Класс контейнера с виждетами.</li>
    <li><a href="doc/tuna.ui.WidgetFactory.html">WidgetFactory</a> - Базовый класс фабрики виджетов.</li>
</ul>