<!DOCTYPE html>
<html xmlns:tuna>
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="css/prettify.css" />
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <a href="{{ page.projectUrl }}">
            <img class="fork-me-ribbon" src="http://goo.gl/O5hru"
                 alt="Fork me on GitHub">
        </a>

        <div class="container">
            <div class="page-header span4">

                <h1>
                    {{ page.title }} <br/>
                    <small>{{ page.tagline }}</small>
                </h1>

                <hr />

                <div class="well">
                    <ul class="nav nav-list">
                        <li class="nav-header">Навигация</li>

                        {% block navigation %}{% endblock %}

                        <li class="divider"></li>

                        <li class="nav-header"><a href="index.html">Tuna Framework</a></li>

                        <li><a href="common.html">Tuna Common</a></li>
                        <li><a href="templates.html">Tuna Templates</a></li>
                        <li><a href="mvc.html">Tuna MVC</a></li>

                        <li class="divider"></li>
                        <li class="nav-header"><a href="doc/tuna.html">Описание методов API</a></li>
                        <li class="divider"></li>

                        <li class="nav-header">Примеры приложений</li>
                        <li><a href="todo-list.html">Список задач</a></li>

                    </ul>
                </div>

                <hr />

                <address>
                    <strong>Сергей Кононенко</strong><br>
                    <a href="mailto:kononencheg@gmail.com">
                        kononencheg@gmail.com
                    </a>
                </address>
            </div>

            <div class="row">
                <div class="span7 offset5">
                    {% block content %}{% endblock %}

                    <hr />
                </div>
            </div>
        </div>

        {% block script %}
            <script src="js/prettify.js"></script>
            <script>
                prettyPrint();
            </script>
        {% endblock %}
    </body>
</html>
