<p>
    Репозиторий приложения обычно имеет следующую структуру:
</p>

<ul>
    <li>
        <code>application</code> - папка содержащая исходные коды
        конкретного приложения.
    </li>
    <li>
        <code>library</code> - папка содержащая исходные коды
        библиотек, используемых в приложении.
    </li>
    <li>
        <code>public</code> - корневая папка веб-приложения, в которую
        "собираются" исходники приложения.
    </li>
    <li>
        <code>templates</code> - папка содержащая html-шаблоны
        приложения.
    </li>
    <li>
        <code>utils</code> - папка с утилитами для сборки приложения.
    </li>
    <li>
        <code>Makefile</code> - файл сценария сборки приложения из
        исходников.
    </li>
</ul>