<p>
    Tuna Framework предоставляет удобную и надежную основу для сложных
    веб приложений. Основными преимуществами библиотеки являются:
</p>

<ol class="paragraph-list">
    <li>
        <strong>Удобство ипользования</strong> - основная цель, преследуемая при
        разработке библиотеки.
    </li>
    <li>
        <strong>Производительность</strong> - структура приложения максимально
        оптимизированна по скорости на каждом уровне.
    </li>
    <li>
        <strong>Расширяемость</strong> - при разработке приложения отсутствует
        привязка к компонентам Tuna Framework.
    </li>
    <li>
        <strong>Строгость</strong> - код библиотеки компилируется с помощью
        <a href="https://developers.google.com/closure/compiler/"
           target="_blank">Closure Compiler</a>
        в режиме продвинутой оптимизации.
    </li>
    <li>
        <strong>Компактность</strong> - при сжатии в продвинутом режиме код
        ужимается до 20кб, в режиме обычного сжатия - до 88кб.
    </li>
    <li>
        <strong>Кросс-браузерность</strong> - библиотека работает во всех современных
        (возможно и не современных) браузерах.
    </li>
</ol>
