<p>
    Tuna Framework предоставляет удобную и надежную основу для сложных
    веб приложений. Основными преимуществами библиотеки являются:
</p>

<ol class="paragraph-list">
    <li>
        <strong>Удобство</strong> - для написания простейшего приложения
        требуется лишь указать список используемых на странице
        модулей-компонентов.
    </li>
    <li>
        <strong>Скорость</strong> - структура приложения максимально
        оптимизированна на каждом уровне.
    </li>
    <li>
        <strong>Расширяемость</strong> - для добавления нового функционала можно
        использовать любые библиотеки - нет строгой привязки к компонентам
        Tuna Framework.
    </li>
    <li>
        <strong>Строгость</strong> - код библиотеки компилируется с помощью
        <a href="https://developers.google.com/closure/compiler/"
           target="_blank">Closure Compiler</a>
        в режиме продвинутой оптимизации.
    </li>
    <li>
        <strong>Компактность</strong> - после сжатия с помощью Closure
        Compiler'а в продвинутом режиме код ужимается до
        30кб, в режиме обычного сжатия - до 80кб.
    </li>
    <li>
        <strong>Кросс-браузерность</strong> - библиотека работает во всех современных
        (возможно и не современных) браузерах.
    </li>
</ol>
