
<p>
    Для сборки сложного приложения удобно использовать утилиту
    <a href="http://www.gnu.org/software/make/" target="_blank">GNU Make</a> (для
    <a href="http://gnuwin32.sourceforge.net/packages/make.htm" target="_blank">windows</a>)
    в связке с приложениями для сжатия/объединения <code>javascript</code>
    (например <a href="https://developers.google.com/closure/compiler/" target="_blank">Closure Compiler</a>,
    <a href="https://github.com/mishoo/UglifyJS" target="_blank">Uglify JS</a>, ...)
    и для сбоки <code>html</code>-шаблонов (например <a href="http://mustache.github.com/" target="_blank">mustache</a>).
</p>

<p>
    Пример <a href="https://gist.github.com/2405728" target="_blank">make-файла</a> для "компиляции" приложения
    использующего Tuna Framework.
</p>
