
<p>
    На данный момент, для корректной работы, библиотека требует движок
    CSS-селекторов соответсвующий внешнему интерфейсу движка
    <a href="http://sizzlejs.com/" target="_blank">Sizzle</a>.
</p>

<p>
    Список необходимых методов движка CSS-селекторов:
</p>

<ul>
    <li>
        <code>selectorEngine(selector, context)</code> - Поиск элементов
        соотвествующих указанному селектору в указанном контексте.
    </li>
    <li>
        <code>selectorEngine.matches(selector, elements)</code> -
        Фильтрация элементов соотвествующих указанному селектору.
    </li>
    <li>
        <code>selectorEngine.matchesSelector(element, selector)</code> -
        Проверка соответствия элемента селектору.
    </li>
</ul>

<p>
    Так же, в качестве используемых имен утилитарных CSS-классов,
    используются имена соответсвующие классам библиотеки
    <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>.
</p>

<p>
    Например:
</p>

<ul>
    <li>
        <code>hide</code> - спрятанный элемент,
    </li>
    <li>
        <code>show</code> - отображенный элемент,
    </li>
    <li>
        <code>active</code> - активный элемент,
    </li>
    <li>
        <code>...</code>
    </li>
</ul>