<p>
    Tuna Framework предоставляет набор библиотек, которые можно
    использовать как вместе, так и по отдельности:
</p>

<ul class="paragraph-list">
    <li>
        <a href="#common.html">Tuna Common</a> - базовый набор сущностей,
        предоставляющий общий функционал для других компонентов библиотеки.
    </li>

    <li>
        <a href="templates.html">Tuna Templates</a> - супер быстрый шаблонизатор,
        который обновляет отображение только изменившихся данных.
    </li>
    <li>
        <a href="#mvc.html">Tuna MVC</a> - основная часть библиотеки, которая
        предоставляет удобный фукнционал для работы с компонентами отображения
        и моделью данных.
    </li>
</ul>